* {
  /* outline: 2px dashed orange;
  /* padding: 10px;
  margin: 10px; */ */
}
/* 
font-family: 'Vast Shadow', cursive;
font-family: 'Kranky', cursive;
font-family: 'Lily Script One', cursive;
font-family: 'Emilys Candy', cursive;
font-family: 'Oleo Script Swash Caps', cursive; */

body {
  background: rgb(80, 150, 150);
  background-attachment: fixed;
  margin: 0;
  font-family: 'Oleo Script Swash Caps', cursive; 
  font-size: 1em;
  color: rgb(63, 13, 13);

}

nav {
  background: salmon;
  outline-style: groove;
  padding: 0px 0px 0px 0px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.wrapper {
  width: 960px;
  margin: 0px auto;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  text-align: left;}
.logo {
  margin-bottom: 20px;}


#title {
  position: relative;
  align-self: center;
}

.sideSocial {
  display: block;
  background: salmon;
  position: fixed;
  height: 50;
  width: 20%;
  float:right;
}
footer {

}
address {

}




figure#fish {
  float: right;
}


fieldset {
  max-width: 700px;
  border: 7px solid #73094c;
  border-radius: 75px;
  padding: 10px;
  text-align: center;
}
/* 
Basic Table Properties

width - set width of table
padding - spacing between cell border and contents
text-transform - convert case of letters
letter-spacing, font-size - adjust to make cells more easily readable
border-top, border-bottom - set borders above and below headers, cells
text-align - left or right alignment of text in cell
background-color - change colors of background
use tr.even to change every other row
:hover highlight table when mouse is over it */

table {
  border: 10px solid black;
  
}

td {
  padding: 10px;
	border-radius: 15px;
  border: 1px solid black;
  background: white;
}

th {
	background-color: navy;
	color: white;
}

h1 {
  font-size: 4em;
}


p {
  font-size: 1em;
}

h2 {
  font-weight: bold;
  font-size: 1.5em;
    margin-left: 6px; 
    margin: 6px;
  }
  
  ul {
    margin-left: 25px;  
    margin-bottom: 20px;
  }
  
  .total {
    font-weight: bold;
}



/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* legend {
  background-color: black;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
} */

button {
  color: #73094c;
  text-shadow: 0px 1px 1px #ffffff;
  border: 2px solid #b2b2b2;
  background-color: #73094c;
  background: -webkit-gradient(linear, left top, left bottom, from(#F0E8C7), to(#9C9060));
  background: -moz-linear-gradient(top, #F0E8C7, #9C9060);
  background: -o-linear-gradient(top, #F0E8C7, #9C9060);
  background: -ms-linear-gradient(top, #F0E8C7, #9C9060);
}
      
button:hover {
  color: #73094c;
  border: 2px solid #a4a4a4;
  background-color: #73094c;
  background: -webkit-gradient(linear, left top, left bottom, from(#F0E8C7), to(#9C9000));
  background: -moz-linear-gradient(top, #F0E8C7, #9C9000);
  background: -o-linear-gradient(top, #F0E8C7, #9C9000);
  background: -ms-linear-gradient(top, #F0E8C7, #9C9000);
}

/* Specific ID's ++++++++++++++++++++++++++++++++++++++++++++++++++ */
#salmon {
  opacity: 0.5;
  width:100%
  
}

#cookies {
  width: 100%;
}